body {
  background: rgb(40, 40, 40);
  color: white;
}

.centre-screen {
  width: 800px;
  margin: 12rem auto;
}

.highlighted {
  display: inline-block;
  background: #2ecc71;
  padding: .5rem 1rem;
}
