{% extends '_includes/base.html' %}

{% block body %}
<div class="container centre-screen">
  <h1 class="display-3 highlighted"><strong>Gains</strong></h1>
  <br />

  <p class="lead highlighted">Measure and analyse your gym progress.</p>
  <br /><br /><br />

  <form id="upload-form" action="{{ url_for('.upload') }}" method="POST" enctype="multipart/form-data">
    <input id="upload-file" type="file" name="file" hidden />
    <button id="upload-button" type="button" class="btn btn-info btn-lg">Upload Workouts</button>
  </form>
</div>

<script>
  $('#upload-button').click(function() {
    $('#upload-file').click();
  });

  $('#upload-file').change(function() {
    $('#upload-form').submit();
  });
</script>
{% endblock %}
